@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Adauga un anunt, simplu si rapid!</h1>
    <p><a href="/Produse/Create">Adauga</a> un anunt de vanzare sau navigheaza prin categoriile de produse</p>
</div>
